// Titles
@font-face {
  font-family: "AlexBrush";
  src: url("../fonts/AlexBrush-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Allura";
  src: url("../fonts/Allura-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Caviar";
  src: url("../fonts/CaviarDreams.ttf") format("truetype");
}

@font-face {
  font-family: "GreatVibes";
  src: url("../fonts/GreatVibes-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Miama";
  src: url("../fonts/Miama.otf") format("truetype");
}

@font-face {
  font-family: "Sofia";
  src: url("../fonts/Sofia-Regular.otf") format("truetype");
}

// Body
@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "JosefinSans-Italic";
  src: url("../fonts/JosefinSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Quicksand-Italic";
  src: url("../fonts/Quicksand-Italic.otf") format("truetype");
}

@font-face {
  font-family: "Titillium";
  src: url("../fonts/Titillium-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Italic";
  src: url("../fonts/Montserrat-Italic.otf") format("truetype");
}

@font-face {
  font-family: "Montserrat-A";
  src: url("../fonts/MontserratAlternates-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Montserrat-A-Italic";
  src: url("../fonts/MontserratAlternates-Italic.otf") format("truetype");
}
