@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.timeline {
  .timelineItem {
    margin-bottom: 10px;
    opacity: 0; /* Inicialmente, los elementos están ocultos */
    animation: fadeInUp 5.5s ease forwards; /* Aplicamos la animación a cada elemento */
    &:last-child {
      margin-bottom: 0;
    }
  }

  .timelineSeparator {
    .timelineDot {
      margin: 0%;
      border: 2px solid #3f51b5;
      background-color: #fff;
      svg {
        color: #3f51b5;
      }
    }
  }

  .timelineContent {
    width: 400px;// calc(100% - 50px);
    .paper {
      padding: 10px;
      background-color: #f3f3f3;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      .date {
        font-size: 14px;
        color: #666;
      }
      .title {
        font-size: 20px;
        margin: 10px 0;
        color: #333;
      }
      .description {
        font-size: 16px;
        color: #555;
      }
    }
  }
}
